.content {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  overflow-y: auto;
}

.task-tag {
  padding: 5px;
  margin-left: 10px;
  background-color: var(--main);
  font-size: .8em;
  border-radius: 5px;
  color: var(--text-on-main);
}

.list {
  list-style: none;
  padding: 0;
}

.list > li {
  white-space: nowrap;
}

.list > li:hover :global .hover-active {
  visibility: visible !important;
}

@media only screen and (min-width: 768px) {
  .content {
    height: unset;
  }
}