.side-bar {
  display: flex;
  align-items: center;
  min-width: 30%;
  padding: 0 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: center;
}

.category-list {
  width: 100%;
  list-style: none;
  font-size: larger;
  padding: 0;
}

.category-list > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 8px;
  padding-left: 10px;
  border-radius: 6px;
  box-sizing: border-box;
}

.category-list > li:hover{
  cursor: pointer;
}

.category-list > li:hover :global .hover-active {
  visibility: visible !important;
}

li.active {
  background-color: var(--main);
  color: var(--text-on-main);
}