body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', serif;
  color: #525252;
}

.main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--foreground);
}

@media only screen and (min-width: 768px) {
  .main-container {
    flex-wrap: nowrap;
    width: 60vw;
    min-width: 50vw;
    min-height: 60vh;
    max-height: 80vh;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 #00000060;
  }
}