body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', serif;
  color: #525252;
}

.main-container {
  display: flex;
  position: relative;
  min-width: 50vw;
  min-height: 60vh;
  max-height: 80vh;
  width: 60vw;
  background-color: var(--foreground);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 #00000060;
}

.logo {
  position: absolute;
  bottom: 100%;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-size: 5em;
  font-family: 'Finger Paint', cursive;
  font-weight: normal;
  color: var(--text-on-main);
}